<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" monitorInterval="60" strict="true" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="stdout"/>
        </Root>

        <Logger name="lineage" level="debug" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>

</Configuration>